 body {
    font-family: Arial, Helvetica, sans-serif; /* Tipografía */
    line-height: 1.5; /* Controla la altura de cada línea de texto para mejorar la legibilidad */
}

header {
    background-color: #311157; /* Color de fondo */
    color: #fff; /* Color de texto */
    text-align: center; /* Alineación de texto */
    padding: 20px; /* Espacio interno */
}

footer {
    background-color: #f045c9; /* Color de fondo */
    color: #000000; /* Color de texto */
    text-align: center; /* Alineación de texto */
    padding: 20px; /* Espacio interno */
}

.menu{
    list-style: none; /* Elimina los puntos de la lista */
}

.enlace{
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: #fff; /* Color de texto */
    padding: 10px; /* Espacio interno */
}

.enlace:hover{
    color: #747600; /* Color de texto al pasar el cursor por encima */
}

.subtitulo{
    font-size: 25px;
    font-weight: bold;
    color: #fc0000ab;
}

.boton{
    background-color: #4a00c9; /* Color de fondo */
    color: #fff; /* Color de texto */
    padding: 10px 20px; /* Espacio interno */
    border: none; /* Elimina el borde */
    cursor: pointer; /* Cambia el cursor al pasar el mouse por encima */
    font-weight: bold; /* Fuente en negrita */
    text-align: center; /* Alineación de texto */
}